@section topCSS
{
    <style>

        /* Type 字塊區*/

        body {
            /*background-color: #000;*/
            color: rgba(0, 0, 0, 0.75);
        }

        body, input, select, textarea {
            font-family: "Open Sans", Arial, Helvetica, sans-serif;
            font-size: 13pt;
            font-weight: 300;
            line-height: 1.65;
        }

        a {
            text-decoration: underline;
        }

            a:hover {
                text-decoration: none;
            }

        strong, b {
            font-weight: 600;
        }

        em, i {
            font-style: italic;
        }

        p {
            margin: 0 0 2em 0;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 600;
            line-height: 1.5;
            margin: 0 0 1em 0;
            text-transform: uppercase;
        }

            h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
                color: inherit;
                text-decoration: none;
            }

        h2 {
            font-size: 1.75em;
        }

        h3 {
            font-size: 1.35em;
        }

        h4 {
            font-size: 1.1em;
        }

        h5 {
            font-size: 0.9em;
        }

        h6 {
            font-size: 0.7em;
        }

        sub {
            font-size: 0.8em;
            position: relative;
            top: 0.5em;
        }

        sup {
            font-size: 0.8em;
            position: relative;
            top: -0.5em;
        }

        blockquote {
            border-left: solid 4px;
            font-style: italic;
            margin: 0 0 2em 0;
            padding: 0.5em 0 0.5em 2em;
        }

        code {
            border-radius: 4px;
            border: solid 1px;
            font-family: "Courier New", monospace;
            font-size: 0.9em;
            margin: 0 0.25em;
            padding: 0.25em 0.65em;
        }

        pre {
            -webkit-overflow-scrolling: touch;
            font-family: "Courier New", monospace;
            font-size: 0.9em;
            margin: 0 0 2em 0;
        }

            pre code {
                display: block;
                line-height: 1.75;
                padding: 1em 1.5em;
                overflow-x: auto;
            }

        hr {
            border: 0;
            border-bottom: solid 1px;
            margin: 2em 0;
        }

            hr.major {
                margin: 3em 0;
            }

        .align-left {
            text-align: left;
        }

        .align-center {
            text-align: center;
        }

        .align-right {
            text-align: right;
        }

        input, select, textarea {
            color: #fff;
        }

        a {
            color: #F64747;
        }

        strong, b {
            color: #fff;
        }



        code {
            background: rgba(144, 144, 144, 0.075);
            border-color: rgba(144, 144, 144, 0.25);
        }

        hr {
            border-bottom-color: rgba(144, 144, 144, 0.25);
        }

        .box {
            background: rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            margin-bottom: 2em;
            overflow: hidden;
            padding: 4em;
        }

            .box > :last-child,
            .box > :last-child > :last-child,
            .box > :last-child > :last-child > :last-child {
                margin-bottom: 0;
            }

            .box header h2 {
                margin: 0 0 .5em 0;
                color: #FFF;
            }

            .box header p {
                color: rgba(255, 255, 255, 0.5);
            }

            .box.alt {
                border: 0;
                border-radius: 0;
                padding: 0;
            }


    </style>
}

<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>

<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="inner-column">
                    <h1>Welcome To <span>Live Dinner Restaurant</span></h1>
                    <h2>品牌故事</h2>
                    <p>
                        台灣山繞海環，景色融合，弧線，是美景共通的代表。台灣飲食，包容了世界多元特質，融淬這島嶼的獨有美麗，一片片的藝術銅片，象徵主廚創作巧
                        思、食材選用及細節，以極富邏輯的美食思維，高低劃出每一道美麗線條，如同天際線一般。台灣飲食最美的天際線，從料理初心延伸演繹的藝術空間，令人醉心的六感之美。
                    </p>
                    <h2>品牌理念</h2>
                    <p>Live Dinner在台灣展店最令人興奮的餐飲計畫之一，全程使用台灣的創意團隊。餐廳內不提供內用只提供外帶及外送，因為Live Dinner的想讓客人擁有一個美好的用餐體驗，更代表生活中一種風格，提供合理價位的實驗性精緻料理。Live Dinner突顯台灣時令素材，透過革新性的料理與飲品重新演譯餐桌上的台灣滋味，以此作為最大的料理使命。</p>
                    <p>Live Dinner感謝您鼓勵、支持、啟發我們</p>
                    <!-- <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a> -->
                </div>
            </div>

        </div>
    </div>
</div>