################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/OhLiveDinner/v16/Server/sqlite3/db.lock
/MVC-Dashboard/bin
/MVC-Dashboard/obj
/OhLiveDinner/bin
/OhLiveDinner/obj
