@section topCSS{
    <style>
        * {
            font-family: "Microsoft JhengHei";
        }

        h2 {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .search {
            margin: 1% 0 2% 20%;
            /*background-color: #d65106;*/
            width: 25rem;
            border: 1px solid #000;
            border-radius: 20px;
        }

            .search i {
                font-size: 2rem;
                padding: 1rem 0rem 1rem 2rem;
            }

            .search input {
                border: 1px solid #ccc;
                background-color: transparent;
                width: auto;
                color: black;
            }

        .table {
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            border: 2px solid #000;
            border-top: 2px solid #000;
        }

        thead {
            background-color: rgba(255, 165, 0, 0.7);
        }

            thead th {
                color: black;
            }

        tr:nth-child(even) {
            background-color: rgba(255, 165, 0, 0.7);
        }

        .font {
            margin-left: 10%;
            border: 0px;
            background-color: rgba(0, 0, 0, 0);
            width: 200px;
            height: 30px;
            line-height: 30px;
            border-radius: 3px;
            color: #000;
            cursor: pointer;
        }
    </style>
}

<body>

    <h2>訂單資料</h2>
    <div class="search">
        <i class="fas fa-search"></i>
        <input placeholder="搜尋" ; />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">訂單編號</th>
                <th scope="col">訂購會員</th>
                <th scope="col">付款方式</th>
                <th scope="col">訂單日期</th>
                <th scope="col">消費金額</th>
                <th scope="col">訂單狀態</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Order001</th>
                <td>Vicky</td>
                <td>取餐支付</td>
                <td>2020/05/21</td>
                <td>$250</td>
                <td>
                    製作中
                </td>
            </tr>
            <tr>
                <th scope="row">Order002</th>
                <td>Peter</td>
                <td>信用卡支付</td>
                <td>2020/05/24</td>
                <td>$150</td>
                <td>
                    外送中
                </td>
            </tr>
            <tr>
                <th scope="row">Order003</th>
                <td>Kevin</td>
                <td>取餐支付</td>
                <td>2020/05/26</td>
                <td>$250</td>
                <td>
                    已完成
                </td>
            </tr>
        </tbody>
    </table>
</body>