@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@* 指到_LoginLayout.cshtml *@

@section topCSS{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .LoginArea {
            position: relative;
            width: 100%;
            /*height:100vh;*/
            z-index: 0;
            margin: auto;
            padding-top: 5%;
            display: flex;
            justify-content: center;
            /*vh=>介面大小全版*/
            /*background-color: #f00;*/
        }

            .LoginArea::before {
                background: url('/Assets/image/bg_login.jpg') center;
                content: "";
                height: 100vh;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0.8;
                filter: blur(10px);
            }



        .interface {
            margin: auto;
            border: 2px solid #eee;
            border-radius: 50px;
            /*width: 25%;*/
            height: 80vh;
            box-shadow: 1rem 1rem #333;
        }

        .userphoto {
            display: flex;
            justify-content: center;
            margin-top: 15%;
            margin-bottom: 20%;
        }

            .userphoto i {
                font-size: 15rem;
                color: #fff;
            }

        .login {
            /* border: 2px solid #d65106; */
            border-radius: 5px;
            /* background-color: #fff; */
            width: 80%;
            height: 30%;
            margin: 0 auto;
        }

        .account {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5%;
        }

        input {
            margin: 10px;
            height: 40px;
            font-size: 20px;
        }

        .login i {
            font-size: 2rem;
            color: #fff;
        }

        .account {
            display: flex;
            justify-content: center;
        }

            .account .i {
                margin: auto 10px auto 0;
            }

        input:focus {
            outline: none
        }

        .account input {
            padding-left: 20px;
            border: 1px solid #fff;
            border-radius: 20px;
            background-color: transparent;
            color: #fff;
        }

        .password {
            display: flex;
            justify-content: center;
            margin-bottom: 10%;
        }

            .password .i {
                margin: auto 10px auto 0;
            }

            .password input {
                padding-left: 20px;
                border: 1px solid #fff;
                border-radius: 20px;
                background-color: transparent;
                color: #fff;
            }

        #input::-webkit-input-placeholder {
            color: #fff;
        }

        .loginbtn {
            display: flex;
            justify-content: center;
            margin-bottom: 10%;
            width: 70%;
            margin: 0 auto;
            font-size: 2.5rem;
        }

            .loginbtn a {
                width: 100%;
                border: 0.5px;
                line-height: 40px;
                margin-bottom: 20%;
                border-radius: 20px;
                background-color: #fff;
                /* box-shadow: 3px 3px 5px 6px #cccccc; */
                /*z-index: 1;*/
                /*position: relative;*/
                font-size: inherit;
                font-family: inherit;
                color: black;
                padding: 0.5em 1em;
                outline: none;
                border: none;
                text-decoration:none;
                text-align:center;  
            }

                .loginbtn a:hover {
                    cursor: pointer;
                    background-color: #d65106;
                    color: #fff;
                }

                /*.loginbtn a::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transform-origin: center;
                    transform: scale(1);
                    border: 2px solid #fff;
                    border-radius: 20px;
                }

                .loginbtn a:hover::before {
                    transition: all 0.75s ease-in-out;
                    transform-origin: center;
                    transform: scale(1.75);
                    opacity: 0;
                }*/
    </style>
}
<body>
    <div class="LoginArea">

        <div class="interface col-12 col-lg-3 col-md-4">
            <div class="userphoto">
                <i class="fa fa-user-circle"></i>
            </div>

            <div class="login">
                <div class="account">
                    <div class="i">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <input type="text" name="帳號欄位名稱" id="input" placeholder="請輸入帳號">
                </div>

                <div class="password">
                    <div class="i">
                        <i class="fa fa-lock"></i>
                    </div>
                    <input type="password" name="密碼欄位名稱" id="input" placeholder="請輸入密碼">
                </div>
            </div>
            <div class="loginbtn">
                
                    @Html.ActionLink("登入", "Index", "Home", null, new { @class = "nav-link" })                   
                
            </div>
        </div>

    </div>

</body>

