<body>
    <table>
        <tr>
            <td>
                餐點名稱:
            </td>
            <th>
                <input />
            </th>
        </tr>
        <tr>
            <td>
                餐點價錢:
            </td>
            <th>
                <input />
            </th>
        </tr>
        <tr>
            <td>
                餐點種類:
            </td>
            <th>
                <input />
            </th>
        </tr>
        <tr>
            <td>
                餐點狀態:
            </td>
            <th>
                <form>
                    <select name="ProductStatus">
                        <option value="">銷售</option>
                        <option value="">停售</option>
                    </select>
                </form>
            </th>
        </tr>
        <tr>
            <td>
                餐點圖片:
            </td>
            <th>
                <button>上傳圖片</button>
            </th>
        </tr>
    </table>
    <button>新增</button>
</body>
