

@{
    ViewBag.Title = "Menu";
}
    <div id="menu"></div>
    
    <div id="producttest-list-area">
        <div v-if="isBusy" class="text-center">
            <b-spinner variant="secondary" label="Text Centered"></b-spinner>
        </div>
        <div id="flipbook">
            <div class="hard"> <H1>MENU</H1> </div>
            <div class="hard"></div>
            

                
            <div id="page">
                <H2>Appetizers</H2>
                <div class="col-4 " v-for="item in apper">
                    <img v-bind:src="item.ProductImage" alt="Alternate Text" class="w-100" />
                    <article>
                        <h5 class="card-title">{{item.ProductIntroduction}}</h5>
                        <p class="card-text"> Price : {{ item.ProductPrice }}</p>
                        <select id="YourLocation" class="w-50 my-2 mx-auto" v-model="selected">
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                        <div v-on:click="shopping(item)" class="btn">
                            BUY
                        </div>
                    </article>
                </div>

            </div>
           
                

            <div id="page">
                <H2>Main</H2>
                <div class="col-4 " v-for="item in main">
                    <img v-bind:src="item.ProductImage" alt="Alternate Text" class="w-100" />
                    <article>
                        <h5 class="card-title">{{item.ProductIntroduction}}</h5>
                        <p class="card-text"> Price : {{ item.ProductPrice }}</p>
                        <select id="YourLocation" class="w-50 my-2 mx-auto">
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                        <div v-on:click="shopping(item)" class="btn">
                            BUY
                        </div>
                    </article>
                </div>

            </div>
                
            <div id="page">
                <H2>Dessert</H2>
                <div class="col-4 " v-for="item in dessert">
                    <img v-bind:src="item.ProductImage" alt="Alternate Text" class="w-100" />
                    <article>
                        <h5 class="card-title">{{item.ProductIntroduction}}</h5>
                        <p class="card-text"> Price : {{ item.ProductPrice }}</p>
                        <select id="YourLocation" class="w-50 my-2 mx-auto">
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                        <div v-on:click="shopping(item)" class="btn">
                            BUY
                        </div>
                    </article>
                </div>

            </div>
                
            <div id="page">
                <H2>Drink</H2>
                <div class="col-4 " v-for="item in drink">
                    <img v-bind:src="item.ProductImage" alt="Alternate Text" class="w-100" />
                    <article>
                        <h5 class="card-title">{{item.ProductIntroduction}}</h5>
                        <p class="card-text"> Price : {{ item.ProductPrice }}</p>
                        <select id="YourLocation" class="w-50 my-2 mx-auto" v-model="selected">
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                        <div v-on:click="shopping(item)" class="btn">
                            BUY
                        </div>
                    </article>
                </div>

            </div>

                <div id="page"></div>
                <div class="hard"></div>
            </div>
        </div>
@section topCSS{
    <link href="~/Assets/css/shake.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <style>
        body {
            background: #000 url("/Assets/images/bg_NightCandle.jpeg") center center no-repeat;
            background-color: #000 !important;
        }


        #menu {
            padding: 50px;
        }



        #producttest-list-area{
            display:flex;
            justify-content:center;
        }

        #page {
            background-color: #ecce79;
            background: url(/Assets/images/sheep_paper.jpg) center center;
            background-size: cover;
            position: relative;
            display:flex;
            
            /*justify-content: center;*/
        }
        /*.line {
                    width: 30%;
                    margin-top: auto;
                    margin-bottom: auto;
                    border-top: solid #000 1px;
                }*/
        #book {
            margin-top: 200px;
        }

        .col-4{
           margin-top:-18rem;
        }
        #pp{
            display:flex;
            /*width:auto;*/
        }
        .hard {
            background: #5e331b url(/Assets/images/leather.jpg) center center;
            text-align: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: relative;
            /*transform: rotate(90deg);*/
            /*border: 1rem solid #fff;*/
        }
        h2 {
            font-family: 'Pacifico', cursive;
            width:100%;
            font-size:3rem;
            text-align:center;
            padding-top:3rem;
            
        }
            .hard h1 {
                /*background-color: rgba(0,0,0,.5);*/
                font-family: 'Pacifico', cursive;
                color: rgba(0,0,0,.7);
                /*text-shadow: 2px 2px #5e331b;*/
                font-size: 6rem;
                margin: 5rem;
            }

        #page {
            background-color: #ecce79;
            background: url(/Assets/images/sheep_paper.jpg) center center;
            background-size: cover;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }


            #page h1 {
                font-size: 5rem;
                padding-top: 3rem;
                font-family: 'Pacifico', cursive;
                display: block;
                width: 100%;
                text-align: center;
            }

            #page .col-4 {
                background-color: rgba(231, 226, 189,.4);
                height:45%;
            }

                #page .card img {
                    width: 100%
                }

                #page  .card-title {
                    font-family: 'Microsoft JhengHei';
                    font-size: 2rem;
                    font-weight: bold;
                    color: #000;
                }

                #page .card .card-body .card-text {
                    font-family: 'Microsoft JhengHei';
                    font-size: 2rem;
                    font-weight: bold;
                    color: #000;
                }

                #page .btn {
                    background-color: #d65106;
                    color: #fff;
                    width: 80%;
                    padding: 0px;
                    font-size: 1.5rem;
                }

                    #page  .btn a {
                        color: #fff;
                    }

        #productitem {
            display: flex;
        }


            #productitem img {
                width: 25%;
                padding-bottom: -20%
            }
    </style>
}

@section endJS{



    <script src="~/Assets/filpbook/extras/jquery.min.1.7.js"></script>

    <script src="~/Assets/filpbook/lib/turn.js"></script>
    <script type="text/javascript">




        var TestListProductVue = new Vue({
            el: '#flipbook',
            data: {
                isBusy: true,
                apper: [],
                main: [],
                dessert: [],
                drink: [],
                selected:0,
            },
            created: function () {
                $.ajax({
                    url: '/api/Product/GetAllProduct',
                    type: 'GET',
                    data: '',
                    async: true,
                    success: function (response) {
                        console.log(response);
                        if (response.StatusCode == '1') {
                            GetResponse(response.Result);
                            BusyChange();


                            $("#flipbook").turn({
                                width: 1200,
                                height: 800,
                                autoCenter: false
                            });

                        }
                        else {
                            //跳出警告視窗
                        }
                    }
                });

                function GetResponse(input) {
                    input.forEach(element => {
                        if (element.ProductKindName == "Appetizers") {
                            this.TestListProductVue.apper.push(element);

                        }
                        else if (element.ProductKindName == "Main") {
                            this.TestListProductVue.main.push(element);

                        }
                        else if (element.ProductKindName == "Desert") {
                            this.TestListProductVue.dessert.push(element);

                        }
                        else if (element.ProductKindName == "Drink") {
                            this.TestListProductVue.drink.push(element);

                        }

                    });


                }

                function BusyChange() {
                    this.TestListProductVue.isBusy = !this.TestListProductVue.isBusy;
                }
            },
            methods: {
                
                shopping: function (item) {

                    var ShoppingCarItem = { ProductId: item.ProductId, ProductImage: item.ProductImage, ProductName: item.ProductName, ProductPrice: item.ProductPrice, ProductQuantity: this.selected }
                    alert('加入購物車');
                    //debugger;
                   /* $.ajax({
                        url: '/api/Product/GetAllProduct',
                        type: 'POST',
                        data: '',
                        async: true,
                        success: function (response) {
                            console.log(response);
                            if (response.StatusCode == '1') {
                                GetResponse(response.Result);
                                BusyChange();


                                $("#flipbook").turn({
                                    width: 1200,
                                    height: 800,
                                    autoCenter: false
                                });

                            }
                            else {
                                跳出警告視窗
                            }
                        }
                        
                    });
                    */

                }

            }

        });
    </script>
}
@*<img src="~/Assets/foodimages/appetizer1.jpg" />*@

